{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
      {% for level in crd.childs %}
        {% if level.childs == () %}
            <tr>
                <td>{{ level.name }}</td>
                <td>{{ level.description }}</td>
                <td>{{ level.types }}</td>
                <td>{{ level.info }}</td>
            </tr>
        {% else %}
            <table id="data" class="table table-striped">
                <tbody>
                    <tr>
                        <td><button onclick="appendHtml('{{ level.name }}')">{{ level.name }}</button></td>
                        <td>{{ level.description }}</td>
                        <td>{{ level.types }}</td>
                        <td>{{ level.info }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped", style="margin-left: 40px;" id = "{{level.name}}">
                <tbody>
                    {% for sub in level.childs %}
                    <tr>
                        <td>{{ level.name + "." + sub.name }}</td>
                        <td>{{ sub.description }}</td>
                        <td>{{ sub.types }}</td>
                        <td>{{ sub.info }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <script>
    function appendHtml(id){
        var displayDiv = document.getElementById(id);
        var displayValue = (displayDiv.style.display === "") ? "none" : "";
        this.innerHTML = (displayValue === "block") ? "Hide The Div" : "Show The Div";
        displayDiv.style.display = displayValue;
    }
  </script>
{% endblock %}